///* Colors */
//$background: #ADD9F4; /* odd */
//$background-section: #F5F5F5;
//$header: #25408E;
$icons-background: #E31B6D;
$icons-hover: #616161;
//$textWhite: #fff;
//$textBlack: #000;
//$table-border: #476C9B;
// Colors
$top-menu: #ADD9F4;
$background-odd: #222222;
$background-even: #F5F9FA;
$text-odd: #C7F1FF;
$text-even: #000;
$hover: #08FDD8;
$textWhite: #fff;
$textBlack: #000;
$table-border: #476C9B;
$alert: #E31B6D;
$alert-hover: #616161;
$icons-background: #E31B6D;
$icons-hover: #616161;


/* Fonts */
$standard-font: 'Open Sans', sans-serif;
$mono-font: 'Roboto Mono', monospace;

/* Fonts-size */
$standard-size: 14px;


