/* Colors */
$textWhite: #fff;
$textBlack: #000;
$background: #222222;
$background: #222222;
$background-section: #F5F9FA;
$light-text: #C7F1FF;
$text-dark: #222222;
$background-blue: #ADD9F4;
$hover: #616161;
$border: #476C9B;
$light-background: #C7F1FF;
$alert: #E31B6D;

/* Fonts */
$standard-font: 'Open Sans', sans-serif;
$mono-font: 'Roboto Mono', monospace;

/* Fonts-size */
$standard-size: 14px;


