%table {
  .result {
    max-width: 100%;
    max-height: 12em;
    overflow-x: auto;
    margin: 2em 1em 3em 1em;
    box-shadow: 0 0 10px $background;

    table, th, td {
      border: 2px solid $border;
      border-collapse: collapse;
      text-align: center;
      padding: .3em .5em;
    }
    th {
      background-color: $background-blue;
    }
  }
}