%warning {
  .warning {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background;
    opacity: .9;

    p {
      font-weight: bold;
      margin: 4em 0 1em 0;
      color: $alert;
      text-transform: uppercase;
      font-size: 1.5em;
      span {
        color: $textWhite;
      }
    }

    .warning-button {
      font-weight: bold;
      outline: none;
      border: none;
      margin: 0;
      background-color: $light-background;
      text-transform: uppercase;
      padding: .2em .5em;
      @include transition(.5s);
      &:hover {
        cursor: pointer;
        background-color: $hover;
        color: $light-text;
      }
    }
  }

  // show warning
  .show {
    display: block;
  }

  // hide warning
  .hide {
    display: none;
  }

}