footer {
  padding: 40px 20px;
  background-color: $background;
  @extend %display-flex;
  @include flex-flow(column nowrap);
  @include align-items(center);

  .icons {
    font-size: 3em;
    @extend %display-flex;
    @include flex-flow(row wrap);
    @include align-items(center);
    @include justify-content(center);

    a {
      color: $background-blue;
      cursor: pointer;
      margin: 0 5px;
      @include transition(all .5s);
      &:hover {
        color: $hover;
      }
    }
  }

  p {
    margin-top: 30px;
    font-size: 1em;
    color: $textWhite;
    text-transform: uppercase;
    font-family: $mono-font;
  }
}