header {
  padding: 3em .2em 1em .2em;
  background-color: $background;
  @extend %display-flex;
  @include justify-content(center);

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: $mono-font;
    color: $light-text;
    font-size: 2em;
  }
}
