@import '../components/popup-window';
@import '../components/select';
@import '../components/table';
@import '../components/top-menu';

section {
  background-color: $textWhite;
  position: relative;
  @extend %display-flex;
  @include flex-flow(column nowrap);
  @include align-items(center);

  .add-customer {
    width: 100%;
    text-align: center;
    background-color: $background;

    @extend %top-menu;
    @extend %popup-window;
  }

  .display-costumers {
    width: 100%;
    @extend %display-flex;
    @include flex-flow(column nowrap);
    @include align-items(center);
    @include justify-content(center);

    @extend %select;
    @extend %table;

    h2 {
      text-transform: uppercase;
    }
  }
}